
body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 100vw;
    background-color: #1f2937;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header{
    flex: .5;
    display: flex;
    background-color:#1f2937;
    align-items: center;
    justify-content: space-between;
    border: 0;
    outline: 0;
    padding:10px 18px;

    
    
}

.header h2{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{

    align-items: center;
    
}

.header-link a{
    color: #e5e7eb;
    font-size: 18px;
    margin-right: 40px;
    text-decoration: none;
}

.hero{
    flex: 2;
    display: flex;
    align-items: center;
    padding: 48px;
    justify-content: center;
}

.hero-text{
    align-items: center;
    width: 400px;
    margin-right: 10px;
    justify-content: center;
    padding: 60px;
    
    
}

.hero-text h3{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
    
}

.hero-text p{
    margin-top: 4px;
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 4px;
}

.hero-text button{
    margin-top: 4px;
    color: white;
    background-color: #3882f6;
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 8px;
}

.image-placeholder{
    font-size: 18px;

    opacity: 0.6;
    display: flex;
    width: 500px;
    height: 260px;
    background-color: grey;
    color:#fff;
    align-items: center;
    justify-content: center;
}

.randominfo{
    flex: 2;
    background-color: white;
    width: 100%;
    

}

.randominfo .heading3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 24px;
}

.placecard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;

}

.randominfo .card-img{
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 12px;

}

.card-text{
    width: 200px;
    text-align: center;
}

.quote{
    flex: 2;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.quote-text{
    width: 800px;
    font-style: italic;
}

.quote-name{
    font-weight: 700;
}

.signup{
    flex: 2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.signup1{
    background-color: #3882f6;
    width: 900px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 8px;
    gap: 72px;
}

.signup .text .bold{
    font-weight: bold;
}

.signup1 button{
    background-color: #3882f6;
    border: 2px solid white;
    font-size: 14px;
    padding: 4px 18px;
    color: white;
    border-radius: 8px;

}

.footer{
    flex: .5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}